@import './variable.scss';

.underline {
  display: inline-block;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    width: 105%;
    border-bottom: 0.4rem solid rgba($color: #5580FE, $alpha: 0.3);
  }
}