$color-primary: #5580FE;
$color-primary-gradient: linear-gradient(to bottom, #8EB7FF, #4170F2);
$color-success: #17C295;
$color-warning: #FE724D;
$color-danger: #FE6B67;
$color-light: #576A95;
$color-grey: #F6F7F9;
$color-white: #FFFFFF;
$color-title-first: #16171B;
$color-title-second: #9B9DAF;
$color-title-third: #CACBD4;
$color-devide: #E8E8E8;
$color-background: #F5F6F9;

$font-size: 1.4rem;
$font-size-large: 1.6rem;
$font-size-small: 1.2rem;
$font-size-mini: 1rem;
